---
import { Image } from "astro:assets";
const { card } = Astro.props;
---

<div class={card}>
  <section>
    <img src={Image} alt={card.title} />
    <h2>{card.title}</h2>
    <p>{card.description}</p>

    <style></style>
  </section>
</div>
